body {
    background:White;
}
.ng-invalid {
    border: 1px solid red;
}
#main {
    cursor:default;
    margin:0 auto 100px;
    padding:10px 25px;
    width:580px;
}
#main h1 {
    font-size:24px;
    padding-left:10px;
}
#main .sCart {
    float:right;
    padding-right:25px;
}
.sCart .quantity {
    font-size:32px;
    vertical-align:8px;
}
#items {
    clear:both;
}
#main .item {
    border:1px solid #999999;
    display:inline-block;
    margin:0 8px 15px;
    width: 170px;
}
.item-int {
    margin:0 auto;
    padding:10px 0 30px;
}
.item-int h3 {
    margin:0;
    padding-left:10px;
}
.item-int img {
    width:160px;
}
.item-int .data {
    margin:5px 0;
    text-align:center;
}
.data span {
    font-size:12px;
    padding:0 10px;
}
.right {
    float:right;
}
.left {
    float:left;
}
.note {
    color:#444444;
    font-size:13px;
    text-align:right;
}